.tagtree-logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/favicon.svg");
  filter: opacity(0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.prefix::after {
  content: "tagtr.ee/@";
  position: absolute;
  left: 12px;
  top: 15px;
  background-color: white;
  height: 20px;
  color: #787878;
}
